h1{
   font-family: 'Times New Roman', Times, serif;
   font-weight: 600;
   text-align: center;

}

img{
justify-items: center;
}


.center { display: block; margin-left: auto; margin-right: }

h2{
    font-family: serif,fantasy;
    font-weight: 400;
    text-align: center;
    
}






/* 
   Imacs, Big desktop monitor.
*/

@media (min-width: 1281px) {

    /* CSS */
  
  }
  
  /* 
   Laptops,Desktop monitors,ipad pros
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
  
    /* CSS */
  
  }
  
  /* 
    portrait tablets and ipads
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
  
    /* CSS */
  
  }
  
  /* 
    Landscape tablets and ipads
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    /* CSS */
  
  }
  
  /* 
  Landscape for mobiles and tablets
  */
  
  @media (min-width: 481px) and (max-width: 767px) and 
  (orientation: landscape)  {
  
    /* CSS */
  
  }
  
  /* 
   Mostly all smartphones
  */
  
  @media (min-width: 320px)  {
   div{
       background-color: aquamarine;
       text-size-adjust: 16px;
       orientation: landscape;
       
   }
  
  }





      /* 320px — 480px: Mobile devices*/





